<% include ./partials/navbar %>

<div class="jumbotron">
      <div class="container">
        <p>Welcome <%= user.name %>! </p>
        <h1>Daily Mood and Mental Health Tracker</h1>
        <p>
          Daily mood tracking is an important starting point for creating a
          healthier mind. Whether you just need a space to organize your
          thoughts and feelings, or need a more complex tracking system to
          manage mental illness, this is the place to start.
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Log Mood Now &raquo;</a
          >
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Journal</h2>
          <p>
            Writing daily is a good way to work through mental blocks, or to
            just get it all out of your head.
          </p>
          <p>
            <a
              class="btn btn-default"
              href="#"
              role="button"
              >Go to my journal &raquo;</a
            >
          </p>
        </div>
        <div class="col-md-4">
          <h2>Triggers</h2>
          <p>
            Create a running list of your common mood triggers, both good and
            bad. This helps us to recognize those things we encounter that help,
            and those that harm.
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"
              >Log Triggers &raquo;</a
            >
          </p>
        </div>
        <div class="col-md-4">
          <h2>Medication Tracker</h2>
          <p>
            Record and track daily medication, record changes in medications,
            and track possible symptoms related to each.
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"
              >Track Medication &raquo;</a
            >
          </p>
        </div>
      </div>

      <hr />

    </div>
